/*
  @theme Regex Placeholder
  @placeholder regex
*/

linebreak-comment {
  color: #AAAAAA;
}

linebreak-comment punctuation.linebreak-comment.begin,
linebreak-comment punctuation.linebreak-comment.end {
  color: #D0D0D0;
}

literal.escape {
  font-weight: bold;
}

container.group group.begin,
container.group group.end {
  color: rgba(0, 0, 0, 0.50);
}

group:not(begin):not(end) { background: rgba(127.5, 127.5, 127.5, 0.15); }

character-class { color: #D44950; }
