/*
  @theme Regex Placeholder
  @placeholder regex
*/

linebreak-comment {
  color: #AAAAAA;
}

linebreak-comment punctuation.linebreak-comment.begin,
linebreak-comment punctuation.linebreak-comment.end {
  color: #D0D0D0;
}

literal.escape {
  font-weight: bold;
}

group punctuation.group.begin,
group punctuation.group.end {
  color: #0e757d
  ;
}

group.capturing:not(begin):not(end) { background: rgba(28, 238, 255, 0.15); }
group.anonymous:not(begin):not(end) { background: rgba(127.5, 127.5, 127.5, 0.15); }

character.class { color: #4E279A; }