/*
  @theme Regex Placeholder
  @placeholder regex
*/

linebreak-comment {
  color: #AAAAAA;
}

linebreak-comment punctuation.linebreak-comment.begin,
linebreak-comment punctuation.linebreak-comment.end {
  color: #D0D0D0;
}

literal.escape {
  font-weight: bold;
}

group punctuation.group.begin,
group punctuation.group.end {
  color: #007D14;
}

group:not(begin):not(end) { background: rgba(0, 255, 127.5, 0.15); }
